* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.welcomeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeDiv > .welcomePara {
  font-size: 28px;
  font-weight: bold;
}

.welcomeDiv > .welcomeButton {
  border-radius: 10px;
  height: 50px;
  width: 100px;
  margin-top: 20px;
}

.container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
}

.playerChoiceDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.playerChoiceDiv > button {
  border-radius: 10px;
  height:50px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  font-size: 0;
}

button:hover {
  cursor: pointer;
}

.playerChoiceDiv > .rockButton {
  background-image: url("./img/rock.png");
}

.playerChoiceDiv > .paperButton {
  background-image: url("./img/paper.png");
}

.playerChoiceDiv > .scissorsButton {
  background-image: url("./img/scissors.png");
}

.resultDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resultDiv > .roundResult {
  position: fixed;
  font-size: 24px;
  font-weight: bold;
  top: 60%;
}

.resultDiv > .score {
  position: fixed;
  font-size: 20px;
  font-weight: bold;
  top: 70%;
}

.resultDiv > .finalResult {
  font-size: 32px;
  font-weight: bold;
}

.container > .playAgainButton {
  border-radius: 10px;
  height: 50px;
  width: 100px;
  margin-top: 20px;
}